body{
   border-top: 17px solid #894aa3;
   margin: 0;
   
}
.waraper{
    width: 1279.68px;
    .icon-right{
        background-color: #ebebea;
        display: flex;
        align-items: flex-end;
        justify-content: right;
        width: 100px;
        margin: 0 1180px;
        
    }
}